:root {
  --main-color: #212121;
  --accent-color: #2196F3;
  --accent-color-white: #FFFFFF;
  --grey-text-color: #757575
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body  {
  font-family: Roboto, sans-serif;
  background-color: var(--accent-color-white);
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid tomato;*/
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  padding: 24px 0px;
}

.menu-link.current{
  color: var(--accent-color);
}

.logo-web, 
.logo-studio,
.logo-white {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--main-color);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  margin-right: 85px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list {
  display: flex;
}

.menu-item {
  display: block;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: inline-flex;
  justify-content: center;
  margin-left: auto;
}

.contacts .list {
  display: block;
}

.contacts-icon {
  margin-right: 10px;
  display: inline-block;
  fill: #757575;
}

.contacts-text {
  align-items: center;
}

.menu-link,
.mail-link,
.phone-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.mail-link,
.phone-link {
  color: var(--grey-text-color);
}

.mail-link {
  margin-right: 30px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.8), 
    rgba(47, 48, 58, 0.8)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color:  rgba(47, 48, 58, 0.8);
  text-align: center;
}
    
.page-title {
  display: inline-block;
  width: 696px;
  min-height: 120;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  text-transform: uppercase;
  margin: 200px 0 30px;
}

.btn {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  padding: 10px 32px;
  margin: 0;
  border-color: transparent;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  margin: 0 0 50px;
  text-align: center;
}

.features {
  padding-top: 94px;
}

.features-title {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  width: 270px;
}

.features-link {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.features-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.features-item:nth-child(4n) {
  margin-right: 0;
}

.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px 70px;
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px 70px;
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px 70px;
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px 70px;
}

.features-img {
  margin-bottom: 20px;
  padding: 25px 100px;
}

.features-description {
  font-weight: 400;
  color: var(--grey-text-color);
  margin: 0;
}

.work-title {
  font-weight: 700;
  line-height: 1.142;
  color: var(--accent-color-white);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  display: inline-block;
}

.work-link .flexbox {
  display: flex;
  justify-content: space-between;
}

.work-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-img {
  display: block;
}

.our-team {
  background-color: #F5F4FA;
}

.team-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  background-color: var(--accent-color-white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0 0 10px;
  text-align: center;
}

.team-img {
  display: block;
  margin: 0 0 30px;
  width: 100%;
} 

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--grey-text-color);
  margin: 0 0 16px;
  text-align: center;
}

.social-link .flexbox {
  display: flex;
  justify-content: space-between;
}

.social-item {
  width: calc((100% - 10px * 3) / 4);
  margin-bottom: 24px;
}

.social-item:nth-child(4n) {
  margin-right: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: calc((100% - 10px * 5) / 6);
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  text-align: center;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.clients-img {
  margin-top: 20px;
}


.address {
  font-style: normal;
}

.addr {
  font-weight: 400;
  color: var(--accent-color-white);
  margin: 0;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0 60px;
}

.footer-box {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.logo-footer {
  margin: 0;
  margin-bottom: 20px;
}

.footer-box-item {
  width: calc((100% - 30px * 2) / 3);
  margin: 0;
}

.footer-box-item:nth-child(3) {
  margin-right: 60px;
}

.logo-white {
  color: var(--accent-color-white);
  padding: 0;
}

.social-footer {
  justify-content:flex-start;
  align-items: center;
  width: calc((100 - 10px * 3) / 4);
  margin-left: 0;
}

.footer-icon {
  margin: 0;
  padding: 12px;
  display: block;
  fill: var(--accent-color-white)
}

.social-footer-link {
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.social-footer-link:hover {
  background-color: var(--accent-color);
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.addr-footer {
  margin: 0;
}

.addr-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-weight: 700;
  line-height: 1.143;
  color: var(--accent-color-white);
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
}

.menu-link:hover,
.menu-link:focus,
.mail-link:hover,
.mail-link:focus,
.phone-link:hover,
.phone-link:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.btn-portfolio {
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.project-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 24px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}


.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--main-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.project-btn:not(:last-child) {
  margin-right: 8px;
}

.project-btn:hover,
.project-btn:focus {
  color: var(--accent-color-white);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

.portfolio-img {
  display: block;
  margin: 0 0 20px;
  width: 100%;  
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  color: var(--main-color);
  margin: 0 0 4px 24px;
}

.project-link {
  text-decoration: none;
}

.project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey-text-color);
  margin: 0 0 20px 24px;
}

.project-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: var(--accent-color-white);
  background-color: rgba(33, 150, 243, 0.9);
  display: none;
}